.grid-full > .article-splash-title{ 
    color: whitesmoke;
    position: absolute;
}
.grid-full > .article-splash-title:hover > .article-title > h3{ 
color: whitesmoke;
}
.grid-full:nth-child(0n+1) > .article-splash-title{
    position: absolute;
    left: 8em;
    padding: 1em;
   }

