.article-splash{
    display: flex;
}


.grid
.row-index {
    margin-right: 1em;
}
.grid > .row-index > img {
    width: 80%;
    object-fit: cover;
   
}
.row-index > .article-splash-title {    
    background-color: black;
    z-index: 1;
    position: relative;
    top: 22.2em;
    right: 13.85rem;
    max-height: 8em;
} 
.row-index > .article-title h4 {
    color: whitesmoke;
    font-family: shabby-chic, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: smaller;
}
.row-index > .article-title h3 {
    color: whitesmoke;
    text-align: center;
    letter-spacing: -0.03rem;
    font-family: conceal, sans-serif;
    font-weight: 200;
    font-style: bold;
}
.row-index > .article-title h5 {
    color: whitesmoke;
    font-family:  kumlien-pro, serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}