.article-title h4 {
    /*color: whitesmoke;*/
    font-family: astoria-sans-condensed, sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 0.5em;
}
.article-title h3 {
    /*color: whitesmoke;*/
    text-align: center;
    letter-spacing: -0.03rem;  
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
.article-title h3:hover {
    color: #BA1833;
}
.article-title h5 {
    /*color: whitesmoke;*/
    font-family: astoria-sans-condensed, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.article-title > * {
    text-align: center;
    width: 250px;
    height: auto;
}