.article-splash {
    display: flex;
    flex-direction: column;
}

.article-splash .article-splash-title {
    margin-top: 1rem;
}

.article-splash > img {
    height: 20rem;
    object-fit: cover;
}
