.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid > .grid-full{
    grid-column: 1/5;
}
.grid > .grid-full > .article-splash-img {
width: 100%;
object-fit: cover; 
}
.grid > .grid-full > .article-splash-title {
   display: flex;
}
.grid > .grid-full:last-child > .article-splash-title {
    position: relative;
    right: 35em;
}
