nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    margin-top: 1rem;
}
nav > ul {
    display: flex;
    flex-grow: 0.6;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav > ul > li {
    margin: auto;
}
nav > ul > li > a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: astoria-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.25em;
    font-size: 1em;
}
nav > h2 {
    color: black;
    text-align: center;
    font-family:freight-sans, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6em;
    letter-spacing: 0.2em;
}
nav > h2 > a {
    text-decoration: none;
    color: black;
}